<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DNS_Switcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DNS_Switcher.Settings>
            <setting name="Shecan" serializeAs="String">
                <value>178.22.122.100,185.51.200.2</value>
            </setting>
            <setting name="Electro" serializeAs="String">
                <value>78.157.42.100,78.157.42.101</value>
            </setting>
            <setting name="Begzar" serializeAs="String">
                <value>185.55.226.26,185.55.225.25</value>
            </setting>
            <setting name="Cloudflare" serializeAs="String">
                <value>1.1.1.1,1.0.0.1</value>
            </setting>
            <setting name="Google" serializeAs="String">
                <value>8.8.8.8,8.4.4.8</value>
            </setting>
        </DNS_Switcher.Settings>
    </userSettings>
</configuration>